body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: white;
}

/* DASHBOARD LAYOUT */
.dashboard {
  display: flex;
  min-height: 100vh;
}

/* SIDEBAR */
.sidebar {
  width: 220px;
  background: #020617;
  padding: 20px;
}

.sidebar h2 {
  color: #38bdf8;
  margin-bottom: 20px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  padding: 10px 0;
  cursor: pointer;
  opacity: 0.8;
}

.sidebar li:hover {
  opacity: 1;
}

/* MAIN CONTENT */
.main-content {
  flex: 1;
  padding: 30px;
}

/* GRID CARDS */
.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  margin-bottom: 30px;
}

.card {
  background: #1e293b;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

/* MAP + HISTORY SIDE BY SIDE */
.bottom-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
}

/* MAP */
.map-section {
  background: #1e293b;
  padding: 20px;
  border-radius: 10px;
}

#map {
  height: 350px;
  border-radius: 10px;
  margin-top: 10px;
}

/* HISTORY */
.history-section {
  background: #1e293b;
  padding: 15px;
  border-radius: 10px;
  max-height: 400px;
  overflow-y: auto;
}

.history-section h2 {
  margin-bottom: 10px;
}

#historyList {
  list-style: none;
  padding: 0;
  margin: 0;
}

#historyList li {
  font-size: 13px;
  padding: 6px 0;
  border-bottom: 1px solid #334155;
}

/* ALERT */
.alert-banner {
  background: red;
  color: white;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  border-radius: 8px;
  margin: 15px 0;
}

.hidden {
  display: none;
}


.chart-section {
  background: #1e293b;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 30px;
}
